*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    background: rgb(60, 2, 60);
    overflow: hidden;
    min-height: 100vh;
}
#particles-js{
    height: 100%;
    width: 100%;
    /* background: rgb(60, 2, 60); */
    position:absolute;
    margin: 0;
    padding: 0;
}
.full-page{
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    height: 80vh;
    margin: 80px;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
} 
.content{
    position: relative;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.content h3{
    font-size: 3rem;
    -webkit-text-stroke: 0.2px white;
    color: rgb(56, 2, 56);
    text-shadow: 2px 2px 5px rgb(203, 33, 209);;
}
.content #para1{
    font-size: 3rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.content #para2{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 144, 214);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    /* padding: 0px 50px 0px 50px; */
    height: 30%;
}
.btn{
    height:2rem;
    width: 12rem;
    margin-right: 2rem;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(62, 6, 64);
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(236, 160, 238) inset;
}
.btn:hover{
    background-color:  rgb(246, 238, 246);
    color:rgb(62, 6, 64);
    text-shadow: 2px 2px 5px rgb(102, 7, 105);
    box-shadow: 0 0 5px 8px rgb(102, 7, 105);
    cursor: pointer;
}
.left_panel{
    width: 80%;
    height: 80%;
    display: inline-grid;
    align-items: center;
    text-align: justify;
    padding:100px 0px 0px 30px;
}
#welcome{
    width: 350px;
    margin: 100px 150px;
}





