<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/public/css/developer.css" />
  </head>
  <body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="/public/js/particles.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    <div class="full-page">
        <div class="content" style="height: 70%;">
            <div class="left_panel">
            <h3>Hello <%=user.username%> !!</h3><br>
            <p id="para1">Welcome To Flow Fusion<br></p>
            <p id="para2">Get Ready to Start with Your Developer Journey!!</p><br><br>
            <h2>Tasks that can be performed:</h2>
            <ul id="works">
              <li>Build/manage individual data flow representation</li>
              <li>Create various interaction points for a code</li>
            </ul>
            </div>
            <div class="right_panel">
            <img src="/public/images/Welcome.svg" alt="welcome" id="welcome" />
            </div>
        </div>
        <div class="btn-container">
          <a href="/build"><button class="btn">Flow Code</button></a>
          <button class="btn">Code Canvas</button>
          <a href="/logout"><button class="btn">Logout</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
