<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowFusion</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="/public/js/particles.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    <div class="full-page">
        <div class="navbar">
            <div>
                <p>Flow Fusion</p>
            </div>
            <nav>
                <ul class="nav-items">
                    <li><a href="/login"><button class="login-btn">Sign-in</button></a></li>
                    <a href="/register"><button class="login-btn">Sign-up</button></a>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>Flow like a pro</h1>
            <p> Get started in minutes with our simple, intuitve flow editor</p>
        </div>
    </div>
</body>
</html>