<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowFusion</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="/public/js/particles.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    <div class="container">
        <div class="signin">
            <form action="/login" method="post" class="sign-in-form">
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="username" name="username" id="username">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="password" name="password" id="password">
                </div>
                <input type="submit" value="Login" class="login-btn">
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="#" class="social-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="/register" id="sign-up-btn2">Sign up</a></p>
            </form>
        </div>
        <div class="right-panel">
            <div class="content">
                <h3> New to  Flow Fusion?</h3>
                <p>Start Crafting Flows: Create and optimize workflows with ease. Sign up today!</p>
                <a href="/register"><button class="btn" id="sign-up-btn">Sign up</button></a>
            </div>
            <img src="/public/images/sign-in.svg" alt="" class="image">
        </div>
    </div>
</body>
</html>